
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: #F3F6F0;
  font-family: Roboto, sans-serif;
  font-size: 1.2em;
}

.app-body {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 40px;
  min-height: 100vh;
  color: #A8AF9D;
}

.full-height-grow {
  display: flex;
  flex-direction: column;
}

.orange-text {
  color: #FFAC33;
}

.orange-background {
  background-color: rgba(218, 150, 50, .49);
}

.green-text {
  color: #5CAF61
}

.green-background {
 background-color: rgba(92, 175, 97, 1);
}

.accent-text {
  font-size: 1.4em;
}

.heading-text {
  font-weight: 900;
  font-size: 2.25em;
}

@media (max-width: 1000px) {
  body{
    overflow-x: hidden;
  }
}